
/* arvr css */
/* The goal of a reset stylesheet is to reduce browser inconsistencies in things like default line heights, margins and font sizes of headings etc. */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p,
	blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn,
	em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup,
	tt, var, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table,
	caption, tbody, tfoot, thead, tr, th, td {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-weight: inherit;
	font-style: inherit;
	font-size: 100%;
	font-family: inherit;
	vertical-align: baseline;
}
video{
	height: 400px;
	width: 800px;
}

a img, :link img, :visited img {
	border: 0;
}
#vehicleImg {
	display: block;
	margin-left: auto;
	max-width: 150px;
	min-width: 130px;
}
.modal-style {
    display: none;  
    
}
.infotainment-row {
    margin-right: 0px !important;
    margin-left: 0px !important;
}
@media screen and (min-width: 1100px) {
	.container-fluid {
		height: auto;
		margin: 0 auto;
		width: 1000px;
	}
	.header-guidetxts, .header-guidetxt {
		text-align: center;
	}
	.desktop-textalign {
		text-align: center;
	}
	#videoInput{
	/*margin-top : 250px !important;*/
	}
	#myModal{
	margin-top : 250px !important;
	}
}


@media screen and (max-width: 404px) {
	#logo {
		max-width: 180px;
	}
}
.header-guidetxts {
	font-weight: bold;
	font-size: 20px;
}
.center-align-img {
	display: block;
	margin-left: auto;
	margin-right: auto;
}
.footer-dealer-address {
	width: 65% !important;
	padding: 1px !important;
}

.footer-dealerPhone {
	width: 35% !important;
	padding: 1px;
}
/* page */
.icon-video-txt {
	display: inline;
	font-weight: bold;
}
.guide-tabs-header {
	font-weight: bold;
	font-size: 20px;
	text-align: center;
	margin-top: 10px;
}
#feature_block_holder, #basicOperationsDiv {
	margin-bottom: 15px;
}

.info-video {
	margin-bottom: 15px;
}
.icon-video-img {
	display: inline;
}
.video-camera {
	width: 26px;
}

.information {
	width: 15px;
}
.center-video-info {
	margin: 0 auto;
	width: 150px;
}

.center-video-info img {
	vertical-align: middle;
}
@media screen and (max-width: 450px) {
	.responsive-center-video {
		margin-left: 20px !important;
	}
}
.font-bold {
	font-weight: bold;
	font-size: 14px;
}
.video-content{
    border: 1px solid;
    padding: 5px;
    text-align: center;
    width: 50%;
    display: block;
    margin: 0 auto;
    min-width: 300px;
}
#errorMsg{
    color: red;
    
}
.center-align-video {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
}
.header-logo {
	padding-left: 0px;
}
.basicop-row {
	width: 100%;
	min-height: 70px;
	background-color: #2d96cd;
	border: 1px solid #D3D3D3;
	padding: 3px;
	background: #2d96cd; /* For browsers that do not support gradients */
	background: -webkit-linear-gradient(#2d96cd, #cfe7f4);
	/* For Safari 5.1 to 6.0 */
	background: -o-linear-gradient(#2d96cd, #cfe7f4);
	/* For Opera 11.1 to 12.0 */
	background: -moz-linear-gradient(#2d96cd, #cfe7f4);
	/* For Firefox 3.6 to 15 */
	background: linear-gradient(#2d96cd, #cfe7f4); /* Standard syntax */
	color: #000;
}

.basicop-row-lincoln {
	width: 100%;
	min-height: 70px;
	background-color: #b7b7b7;
	border: 1px solid #D3D3D3;
	padding: 3px;
	background: #2d96cd; /* For browsers that do not support gradients */
	background: -webkit-linear-gradient(#b7b7b7, #fff);
	/* For Safari 5.1 to 6.0 */
	background: -o-linear-gradient(#b7b7b7, #fff);
	/* For Opera 11.1 to 12.0 */
	background: -moz-linear-gradient(#b7b7b7, #fff);
	/* For Firefox 3.6 to 15 */
	background: linear-gradient(#b7b7b7, #fff); /* Standard syntax */
	color: #000;
}
.infotainment-row {
	background-color: #2d96cd;
	border: 1px solid #D3D3D3;
	padding: 5px;
	background: #2d96cd; /* For browsers that do not support gradients */
	background: -webkit-linear-gradient(#2d96cd, #cfe7f4);
	/* For Safari 5.1 to 6.0 */
	background: -o-linear-gradient(#2d96cd, #cfe7f4);
	/* For Opera 11.1 to 12.0 */
	background: -moz-linear-gradient(#2d96cd, #cfe7f4);
	/* For Firefox 3.6 to 15 */
	background: linear-gradient(#2d96cd, #cfe7f4); /* Standard syntax */
	color: #000;
	margin: 0px 3px 0px 3px;
	min-height: 150px;
}

.infotainment-row-lincoln {
	background-color: #b7b7b7;
	border: 1px solid #D3D3D3;
	padding: 5px;
	background: #2d96cd; /* For browsers that do not support gradients */
	background: -webkit-linear-gradient(#b7b7b7, #fff);
	/* For Safari 5.1 to 6.0 */
	background: -o-linear-gradient(#b7b7b7, #fff);
	/* For Opera 11.1 to 12.0 */
	background: -moz-linear-gradient(#b7b7b7, #fff);
	/* For Firefox 3.6 to 15 */
	background: linear-gradient(#b7b7b7, #fff); /* Standard syntax */
	color: #000;
	margin: 0px 3px 0px 3px;
	min-height: 150px;
}

.infotainment-row .col-xs-4 {
	padding: 10px 0px 0px 0px;
}
.featureTitle {
	font-size: 17px;
}
.sync-style {
	width: 90px;
	height: 40px;
}
.myTouch {
	width: 125px;
}

.entertainment {
	width: 45px;
}

.navigation {
	width: 55px;
}
.videoTipIconDiv {
	position: relative;
	bottom: 25px;
	height: 0px;
}
.information-infotainment {
	width: 15px;
	margin-right: 20px;
}
.checkBox {
	float: left;
	margin-top: 5px;
	width: 5%;
}
.checkLabel {
	font-family: AntennaRE, Arial, Helvetica, sans-serif;
	float: left;
	margin: 5px 0 0 0;
	width: 90%;
}

/* Modal Content/Box */
.modal-content {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
}

/* The Close Button */
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}