/* CSS Reset */
/* http://meyerweb.com/eric/tools/css/reset/v2.0 | 20110126 License: none (public domain)*/

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after, q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
input {
	margin: 0 5px 5px 0;
}
/* Fonts */
@font-face {
	font-family: 'League Gothic';
	src: url('../fonts/LeagueGothic-Regular.otf'), url('../fonts/LeagueGothic-Regular.woff') format('woff'); /*For IE*/
}
@font-face {
	font-family: 'League Gothic Condensed';
	src: url('../fonts/LeagueGothic-CondensedRegular.otf');
}
@font-face {
	font-family: 'GothamBook';
	src: url('../fonts/gotham_book.ttf');
}
@font-face {
	font-family: 'GothamMedium';
	src: url('../fonts/gotham_medium.ttf');
}
@font-face {
	font-family: 'GothamLight';
	src: url('../fonts/gotham_light.otf');
}
@font-face {
	font-family: 'GothamBookItalic';
	src: url('../fonts/gotham_book_italic.ttf');
}
/* Styles for validation helpers
-----------------------------------------------------------*/
.field-validation-error {
	color: #f00;
}
.field-validation-valid {
	display: none;
}
.input-validation-error {
	border: 1px solid #f00;
	background-color: #fee;
}
.validation-summary-errors {
	font-weight: bold;
	color: #f00;
}
.validation-summary-valid {
	display: none;
}

body {
	background-color: #FFFFFF;
	font-family: 'League Gothic', Arial;
	font-size: 1em;
}
hr {
	border: 1px solid #5ECBEB
}
h2{
	font-size: 2.8vw;
	color: #000000;
	font-weight: 700;
}
.padding0{
	padding: 0;
}
.padding-left0{
	padding-left: 0;
}
.padding-right0{
	padding-right: 0;
}
.padding-top15{
	padding-top: 15px;
}
.form .validation-summary-errors {
	color: #FF4A4A;
	font-weight: bold;
	font-size: 1.1em;
	padding-top: 10px;
}
.form .validation-summary-errors ul {
	margin: 0;
	padding: 0;
}
.form .validation-summary-errors li {
	display: inline;
	list-style: none;
	margin: 0;
}

/* Header */
header{
	float: left;
	width: 100%;
	background: #ebebeb;
	padding: 5px 0px;
}
.navbar-brand {
	height: auto;
	padding-top: 10px;
}
.navbar-brand img{
	width: 125px;
}
.navbar{
	margin-bottom: 0;
}
.nav>li>a:focus, .nav>li>a:hover{
	background: transparent;
	color: #000000;
}
header a{
	text-decoration: none;
	color: #000000;
	font-size: 24px;
}
.cart-container{
	cursor: pointer;
	margin-top: -2px;
}
.cart{
	width: 24px;
	height: 20px;
}
.cart-count{
	font-size: 16px;
	background: #46c5e8;
	border-radius: 50%;
	color: #ffffff;
	padding: 1px 9px;
	margin-left: 5px;
	float: right;
}
.navbar-toggle .icon-bar{
	background-color: #000000;
}

/* Hero Banner */
section{
	float: left;
	width: 100%;
}
.hero-banner{
	background-image: url('../images/GhoNowBanner.png');
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	min-height: 400px;
}

/* Home Page Content */
.content{
	padding: 15px;
}
.category-select select {
    font-size: 16px;
		font-family: 'GothamBook';
    font-weight: bold;
    background: #fff url('../images/category_drop_down.png') no-repeat;
    background-size: 15px;
    background-position: right 10px center;
    border: 1px solid #CBCBCB;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    -webkit-appearance: none;
    -moz-appearance: none;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
    width: 150px;
		letter-spacing: 1px;
}
.content h2{
	font-size: 2.8vw;
	color: #46c5e8;
	display: inline-block;
}
.products {
	padding: 15px;
}
.product-item-container{
	width: 20%;
	float: left;
}
.product-item{
	width: 90%;
	border: 1px solid #cdcdcd;
	padding: 20px;
	min-height: 240px;
	margin: 10px auto;
	cursor: pointer;
}
.product-image{
	width: 100%;
}
.product-title{
	font-family: GothamMedium;
  font-size: 1.8vw;
  font-weight: bold;
  padding-bottom: 5px;
  text-align: left;
}
.product-price{
	font-family: GothamBook;
  color: #48C6EA;
  font-weight: lighter;
  font-size: 24px;
  text-align: left;
}

/* Footer */
footer{
	width: 100%;
	float: left;
	background: #ebebeb;
	padding: 15px;
	font-family: 'GothamBook';
}
.coneect-with-us{
	float: left;
	margin-right: 30px;
	font-size: 16px;
	font-weight: bold;
	letter-spacing: 1px;
	padding-bottom: 10px;
}
.coneect-with-us img{
	vertical-align: middle;
	margin: 0px 5px;
	cursor: pointer;
}
.footer-links {
	float: left;
}
.footer-links ul li{
	list-style: none;
	display: inline;
	font-weight: normal;
	margin-left: 10px;
	line-height: 36px;
}
.footer-links ul li:after{
    content: '|';
    margin-left: 10px;
}
.footer-links ul li a{
	color: #000000;
	text-decoration: none;
	font-size: 14px;
	cursor: pointer;
}
.footer-links ul li:last-child:after{
	content: '';
	margin-left: 0px;
}
.version{
	line-height: 36px;
	font-weight: bold;
}

/* Checkout Slider */
.checkout-slider{
	position: fixed;
	width: 380px;
	top: 0;
	overflow: auto;
	background-color: #5f5f5f;
	padding: 15px;
	right: 0;
	min-height: 100vh;
	font-family: 'GothamBook';
	color: #ffffff;
	display: none;
	transition: all .2s ease-out;
}
.checkout-slider h3{
	font-size: 20px;
	font-family: 'GothamBook';
	color: #ffffff;
	font-weight: bold;
	border-bottom: 1px solid #ffffff;
	padding-bottom: 10px;
}
.checkout-slider .close{
	color: #ffffff;
	opacity: 1;
	font-weight: normal;
}
.cart-item{
	padding: 10px 0px;
	border-bottom: 1px solid #ffffff;
	float: left;
	width: 100%;
}
.cart-item img{
	width: 80px;
	height: 80px;
	background: #efefef;
	float: left;
	margin-right: 10px;
}
.cart-item-details{
	width: calc(100% - 90px);
	float: left;
}
.remove-item{
	color: #ffffff;
	cursor: pointer;
}
.cart-item-footer{
	float: left;
	width: 100%;
	margin-top: 36px;
}
.cart-item-price{
	font-size: 16px;
	float: right;
	line-height: 27px;
}
.controls{
	float: left;
	text-align: center;
	line-height: 21px;
	font-size: 14px;
}
.add, .remove{
	padding: 3px;
	cursor: pointer;
	border: 1px solid #ffffff;
	width: 24px;
	height: 28px;
	background: #808080;
	color: #45C5E8;
	float: left;
}
.cart-item-count{
	padding: 3px;
	border-top: 1px solid #ffffff;
	border-bottom: 1px solid #ffffff;
	float: left;
	min-width: 24px;
	height: 28px;
	line-height: 21px;
}
.checkout-slider h4{
	font-size: 18px;
	padding-top: 20px;
	float: left;
  width: 100%;
  font-weight: bold;
}
.shipping-text{
	font-size: 12px;
	color: #46C8ED;
	padding-top: 20px;
	float: left;
	width: 100%;
	font-style: italic;
}
.checkout{
	text-align: center;
}
.checkout img{
	width: 250px;
	margin: 10px 0px;
}

/* Modal Window */
.modal-content{
	float: left;
	font-family: 'GothamBook';
	width: 100%;
	padding: 10px;
}
.product-detail-img{
	float: left;
	border: 1px solid #ebebeb;
	min-height: 433px;
  padding-top: 80px;
}
.product-content{
	font-size: 18px;
  padding: 10px 0px;
  line-height: 24px;
}
.product-size{
	float: left;
	width: 50px;
	height: 50px;
	padding: 5px;
	border: solid 2px #CCCCCC;
	margin-right: 10px;
	text-align: center;
	vertical-align: middle;
	line-height: 35px;
}
.product-size.selected{
	border: solid 2px #48C6EA;
}
.size-text{
	font-weight: bold;
	padding-bottom: 10px;
}
.modal-content .image-button{
	margin-left: 0;
	margin-top: 50px;
}

/* Profiles Page */
.profile-container{
	padding: 20px 15px;
	font-family: 'GothamBook';
}
.profile-container h2{
	padding-bottom: 10px;
}
.style-input{
	display: inline-block;
  padding: 10px;
  border-radius: 8px;
  border: 2px solid #48C6EA;
  outline: 0px;
  box-shadow: inset -2px -2px 6px rgba(0,0,0, 0.08);
  transition: all 0.15s;
	min-width: 200px;
}
.style-input:hover, .style-input:focus, .style-input:active {
    border-color: #ffd452;
    box-shadow: inset -2px -2px 6px rgba(0,0,0, 0.08), 0 0 3px rgba(255, 212, 82, 1);
}
.style-label{
	font-weight: bold;
	padding-right: 10px;
}
.profiles{
	border: 1px solid #ebebeb;
}
.profiles .row{
	padding: 25px 15px;
	font-size: 20px;
	font-weight: bold;
}
.add-row{
	padding: 10px 15px;
	font-size: 20px;
	font-weight: bold;
	margin-left: -15px;
	margin-right: -15px;
	float: left;
}
.action-btn-create{
	border: 2px solid #999;
  color: #999;
  box-shadow: inset -2px -2px 6px rgba(0,0,0, 0.08);
  cursor: default;
  pointer-events: none;
	padding: 5px 6px;
	border-radius: 4px;
}
.action-btn{
	background: white;
  padding: 5px 6px;
  transition: all 0.3s ease-out;
  border: 2px solid #48C6EA;
  border-radius: 4px;
  color: #48C6EA;
  min-width: 90px;
  min-height: 36px;
  box-shadow: inset -2px -2px 6px rgba(0,0,0, 0.08);
  text-decoration: none;
	margin-left: 10px;
}
.action-btn:not([disabled]):not(.disabled):hover, .action-btn:not([disabled]):not(.disabled):active, .action-btn:not([disabled]):not(.disabled):focus {
    border: 2px solid #ffd452;
    box-shadow: inset -2px -2px 6px rgba(0,0,0, 0.08), 0 0 5px rgba(47, 111, 167, 0.2);
    text-decoration: none;
}
.even-row{
	background: #efefef;
}

/* Accounts Page */
.account-container{
	padding: 20px 15px;
	font-family: 'GothamBook';
	font-weight: 700;
}
.account-container h2{
	padding-bottom: 10px;
}
.account-container h3{
	padding-bottom: 10px;
	font-size: 22px;
}
.text-box{
	min-width: 300px;
	border: 1px solid #48C6EA;
	padding: 10px;
	border-radius: 8px;
	outline: 0;
	vertical-align: middle;
}
.image-button{
	border: none;
	background: none;
	outline: none;
	cursor: pointer;
	margin: 15px 20px;
}

/* Login */
.login-container{
	font-family: 'GothamBook';
	font-size: 16px;
	padding: 20px 15px;
}
.login-container p{
	font-weight: 700;
}
.login-container p a{
	color: #48C6EA;
	text-decoration: none;
}
.login-container .row{
	padding: 15px 0px;
}
.edit-label{
	line-height: 36px;
	text-align: right;
}
.login-container input{
	padding: 10px;
  border-radius: 8px;
  border: 1px solid #48C6EA;
  outline: 0px;
	width: 100%;
}

/* Media Queries */
@media only screen and (max-width: 991px) and (min-width: 768px){
	.version{
		display: block;
		width: 100%;
		text-align: right;
	}
	.product-title{
		font-size: 24px;
	}
	.product-item-container{
		width: 33.3%;
	}
}
@media only screen and (max-width: 767px) {
	.nav>li>a{
		text-align: right;
	}
	h2{
		font-size: 24px;
	}
	.cart-container{
		padding-top: 15px;
		padding-right: 8px;
		margin-top: 0;
	}
	.hero-banner{
		min-height: 200px;
	}
	.content h2{
		font-size: 32px;
	}
	.coneect-with-us{
		margin-right: 0;
		letter-spacing: 0;
	}
	.coneect-with-us img{
		margin: 0;
		width: 32px;
		height: 32px;
	}
	.product-item-container{
		width: 50%;
	}
	.product-title{
		font-size: 24px;
	}
	.profiles .row{
		font-size: 18px;
	}
	.profiles label {
		padding-bottom: 10px;
	}
	.actions{
		border-top: 1px solid #000000;
		padding-top: 20px;
		width: 100%;
	}
	.style-input{
		min-width: 100%;
		margin-top: 5px;
	}
	.application{
		width: 100%;
		margin-bottom: 20px;
	}
	.checkout-slider{
		width: 100%;
	}
	.text-box{
		min-width: auto;
		width: 100%;
	}
	.account-container .row{
		font-size: 13px;
		margin: 0px 0px;
		border-bottom: 1px solid #ebebeb;
	}
	.account-container .row > div{
		padding: 10px 0px;
	}
	.edit-label{
		text-align: left;
	}
	.login-reg-page .navbar-header{
		display: inline-block;
	}
	.login-reg-page ul{
		float: right;
	}
	.login-reg-page .nav>li{
		display: inline-block;
	}
	.product-detail-img{
		padding: 0;
		min-height: auto;
		margin-bottom: 15px;
	}
	.product-content {
    font-size: 14px;
    line-height: 20px;
	}
	.product-size{
		margin-right: 4px;
	}
	.modal-content .image-button{
		margin: 10px 0px;
	}
}
@media only screen and (max-width: 460px) {
	.product-item-container{
		width: 100%;
	}
	.product-detail-img{
		padding: 0;
		min-height: auto;
	}
}
